/* Catppuccin Macchiato/Latte overrides for Obsidian Minimal theme (Flamingo variant) */

.theme-light.minimal-catppuccin-light {
  --color-red-rgb:    210,15,57;
  --color-orange-rgb: 254,100,11;
  --color-yellow-rgb: 223,142,29;
  --color-green-rgb:  64,160,43;
  --color-cyan-rgb:   23,146,153;
  --color-blue-rgb:   30,102,245;
  --color-purple-rgb: 136,57,239;
  --color-pink-rgb:   234,118,203;

  --color-red:    #D20F39;
  --color-orange: #FE640B;
  --color-yellow: #DF8E1D;
  --color-green:  #40A02B;
  --color-cyan:   #179299;
  --color-blue:   #1E66F5;
  --color-purple: #8839EF;
  --color-pink:   #EA76CB;

  --base-h: 220;
  --base-s: 16%;
  --base-l: 93%;

  --accent-h: 0;
  --accent-s: 59%;
  --accent-l: 67%;

  --bg1: #EFF1F5;
  --bg2: #E6E9EF;
  --bg3: rgba(156,160,176,0.25);

  --ui1: #DCE0E8;
  --ui2: #CCD0DA;
  --ui3: #BCC0CC;

  --tx1: #4C4F69;
  --tx2: #5C6070;
  --tx3: #6C6F85;

  --hl1: rgba(188,192,204,0.5);
  --hl2: rgba(223,142,29,0.3);
}

.theme-dark.minimal-catppuccin-dark {
  --color-red-rgb:    240,198,198 !important;
  --color-orange-rgb: 245,169,127;
  --color-yellow-rgb: 238,212,159;
  --color-green-rgb:  166,218,149;
  --color-cyan-rgb:   139,213,202;
  --color-blue-rgb:   138,173,244;
  --color-purple-rgb: 198,160,246;
  --color-pink-rgb:   245,189,230;

  --color-red:    #f0c6c6 !important;
  --color-orange: #f5a97f;
  --color-yellow: #eed49f;
  --color-green:  #a6da95;
  --color-cyan:   #8bd5ca;
  --color-blue:   #8aadf4;
  --color-purple: #c6a0f6;
  --color-pink:   #f5bde6;

  --base-h: 232;
  --base-s: 23%;
  --base-l: 18%;

  --accent-h: 351;
  --accent-s: 74%;
  --accent-l: 73%;

  --bg1: #24273a;
  --bg2: #181926;
  --bg3: rgba(147,154,183,0.25);

  --ui1: #363a4f;
  --ui2: #494d64;
  --ui3: #5b6078;

  --tx1: #cad3f5;
  --tx2: #a5adcb;
  --tx3: #b8c0e0;

  --hl1: rgba(91,96,120,0.5);
  --hl2: rgba(238,212,159,0.4);
}

.theme-dark.minimal-catppuccin-dark.minimal-dark-black {
  --ui1: #181926;
  --hl2: rgba(238,212,159,0.5);
}
